:root {
  --drop-shadow-logo: drop-shadow(0.07rem 0rem 0.08rem #000);
  --bg-color-logo-menu: transparent;
  --box-shadow-logo-menu: #fff;
  --position-logo-menu: absolute;
  --color-menu-item: #fff;
  --text-shadow-menu-item: #000;
  --box-shadow-submenu: 0rem 0.3rem 0.5rem 0rem #fff;
}

/* Video Banner */
.banner {
  width: 100%;
  height: 100vh;
  overflow: visible;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0rem 0.05rem 0.2rem #171717;
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}
.banner .title {
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  width: 80vw;
}
.banner .title h1 {
  font-family: "lemonmilk", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.1rem 0rem 0.08rem #000;
}
.banner .social-media {
  z-index: 1;
  position: absolute;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.sm-icon {
  width: 2rem;
  height: auto;
  filter: drop-shadow(0.065rem 0rem 0.08rem #000);
  transition-property: transform, filter;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.sm-icon:hover {
  transform: scale(120%);
  filter: drop-shadow(0.1rem 0rem 0.1rem #000);
}
/* Content section */
.subtitle-box,
.services-box,
.future-subtitle,
.content-box,
.content-box div.content,
.project-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.content-box {
  margin: 1rem;
}
.subtitle-box {
  margin: 1rem 0;
}
.services-box {
  margin: 2rem auto;
  padding-block: 1rem;
  width: 90vw;
  border-block: 0.03rem solid #cccccc;
}
h2.subtitle,
h2.services-subtitle {
  font-family: "modern", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
h2.subtitle {
  margin: 0rem;
  width: 90vw;
  padding-block: 1rem;
  border-block: 0.03rem solid #cccccc;
}
h2.services-subtitle {
  margin: 0.7rem;
}

p.subtext,
p.content-text,
p.project-text {
  font-family: "modern", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0rem;
  padding: 0.5rem;
  text-align: center;
}
.subtitle-image {
  width: 80vw;
  max-width: 25rem;
  height: auto;
}
.btn-services,
.btn-projects {
  font-family: "modern", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background: transparent;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0.05rem solid #000;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  box-shadow: none;
}
a.btn-projects {
  margin-block-end: 1rem;
}
.btn-services:hover,
.btn-projects:hover {
  transform: scale(120%);
  box-shadow: 0rem 0.05rem 0.2rem #171717;
}
.btn-services:focus,
.btn-services:focus-within,
.btn-projects:focus,
.btn-projects:focus-visible {
  transform: scale(120%);
}
h2.content-title {
  margin-block: 0.5rem;
  font-family: "lemonmilk", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
img.project-plan {
  width: 100vw;
  height: auto;
  max-width: 40rem;
  margin: 0.5rem 0rem;
}
section.projects-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Responsive */
@media (min-width: 425px) {
  .banner .title h1 {
    font-size: 3rem;
  }
  p.subtext,
  p.content-text,
  p.project-text {
    font-size: 1.3rem;
  }
  h2.subtitle,
  h2.services-subtitle,
  h2.content-title {
    font-size: 1.7rem;
  }
}
@media (min-width: 550px) {
  .banner .title {
    width: 55vw;
  }
  p.subtext {
    width: 13rem;
  }
  div.future-subtitle {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .subtitle-image {
    width: 50vw;
    max-width: 25rem;
    height: auto;
    margin: 1rem;
  }
  .services-box {
    margin: 1rem auto;
  }
  img.project-plan {
    width: 50vw;
    margin: 0rem;
  }
  main.content-box {
    width: 90vw;
    margin-inline: auto;
    margin-block: 0rem 1rem;
    padding: 1rem;
    border-block-end: 0.03rem solid #cccccc;
  }
}
@media (min-width: 800px) {
  .banner .title {
    width: 95vw;
  }
  .banner .title h1 {
    font-size: 2.8rem;
  }
  main.content-box {
    flex-direction: row;
    align-items: flex-start;
  }
  .content-box {
    justify-content: space-evenly;
  }
  p.content-text {
    width: 13rem;
  }
  h2.subtitle,
  h2.services-subtitle,
  h2.content-title {
    font-size: 1.9rem;
  }
  p.subtext {
    width: 18rem;
  }
  p.subtext,
  p.project-text {
    font-size: 1.3rem;
    padding: 0.8rem;
  }
  section.projects-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img.project-plan {
    width: 30vw;
    margin: 0rem;
  }
  .btn-services,
  .btn-projects {
    font-size: 1rem;
    padding: 0.8rem;
    margin: 0.8rem;
  }
}
@media (min-width: 1024px) {
  .banner .title h1 {
    font-size: 3rem;
  }
  h2.subtitle,
  h2.services-subtitle,
  h2.content-title {
    font-size: 2rem;
  }
  p.content-text {
    width: 18rem;
  }
  p.project-text {
    width: 24rem;
  }
  p.subtext,
  p.project-text {
    font-size: 1.5rem;
    padding: 0.8rem;
  }
  .btn-services,
  .btn-projects {
    font-size: 1.2rem;
  }
  main.content-box {
    width: 60rem;
  }
  section.projects-box {
    margin-inline: 1rem;
    padding-inline: 1rem;
    justify-content: center;
  }
  img.project-plan {
    width: 19rem;
    height: auto;
  }
  .subtitle-image {
    width: 55vw;
    max-width: 30rem;
  }
}
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .banner .title h1 {
    font-size: 1.2rem;
    margin-top: 4.5rem;
  }
  .menu > li > .menu-item {
    padding: 1rem 0;
    margin: 0;
    font-size: 1rem;
  }
  .sub-menu li a {
    font-size: 0.8rem;
  }
  .sm-icon {
    width: 1rem;
  }
}
