:root {
  --bg-project: url("/src/img-projects/h-cover.jpg");
}
@media (min-width: 1024px) {
  section.intro-box {
    margin-block: 1rem 1.5rem;
    align-items: center;
  }
  p.intro-info-text {
    padding: 0rem;
  }
  section.intro-box::before {
    transform: translate(0rem, 10rem);
  }
  h1.intro-title {
    transform: translate(0rem, -11rem);
  }
  div.intro-info-box {
    transform: translate(0rem, 2rem);
  }
}
