body {
  margin: 0;
  padding: 0;
  scrollbar-color: #cccccc transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.1rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}
@font-face {
  font-family: lemonmilk;
  src: url("font/LemonMilk.woff") format("webopenfontformat"),
    url("font/LemonMilk.ttf") format("truetype");
}
@font-face {
  font-family: modern;
  src: url("font/Modern.woff") format("webopenfontformat"),
    url("font/Modern.ttf") format("truetype");
}
/* Main Menu */
.logo-menu {
  background-color: var(--bg-color-logo-menu);
  box-shadow: 0rem 0.065rem 0.5rem var(--box-shadow-logo-menu);
  position: var(--position-logo-menu);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Logo */
.logo-box {
  margin-block-start: 0.5rem;
  margin-inline-end: 0.7rem;
}
.logo {
  margin: auto;
  width: 4.5rem;
  height: auto;
  filter: var(--drop-shadow-logo);
}
/* Menu */
.menu * {
  margin: 0;
  padding: 0;
}
.menu-box {
  background: var(--bg-color-logo-menu);
}
.menu-box ul {
  list-style: none;
  padding-inline: 0;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-block-start: -0.5rem;
  margin-block-end: 0rem;
}
.menu > li > .menu-item {
  display: block;
  padding: 0.9rem 0;
  font-family: "lemonmilk", sans-serif;
  font-size: 1rem;
  color: var(--color-menu-item);
  text-shadow: 0.065rem 0rem 0.08rem var(--text-shadow-menu-item);
  text-decoration: none;
  transition-property: transform, text-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.menu li .menu-item:hover {
  transform: scale(120%);
  text-shadow: 0.1rem 0rem 0.1rem var(--text-shadow-menu-item);
}
/* Submenu */
.sub-menu {
  position: absolute;
  background: #fff;
  box-shadow: var(--box-shadow-submenu);
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;
  width: 7rem;
  transform: translateX(-1.2rem);
}
.menu li:hover .sub-menu,
.menu ul.sub-menu:hover {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}
.menu li:focus .sub-menu,
.menu li:focus-within .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}
.sub-menu li a {
  display: block;
  padding: 0.25rem;
  font-family: "modern", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  text-align: center;
  box-shadow: inset 0rem -0.7rem 0rem -0.6rem rgb(231, 231, 231);
  transition-property: box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
.sub-menu li a:hover {
  box-shadow: inset 0rem -0.7rem 0rem -0.6rem #ccc;
}
/* Footer */
.footer-box {
  opacity: 85%;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-block-start: 0.03rem solid #cccccc;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
div.footer-menu-item {
  margin-block: 0.5rem;
}
.sm-logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 0.5rem;
  gap: 0.3rem;
}
.social-media-footer a {
  text-decoration: none;
}
.sm-icon-footer {
  width: 1.1rem;
  height: auto;
}
.logo-footer {
  width: 3rem;
  height: auto;
}
.list-footer h4 {
  font-family: "lemonmilk", sans-serif;
  margin: 0;
  font-size: 1rem;
}
.menu-footer .footer-item,
.copyright {
  font-family: "modern", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  margin: 0;
}
.menu-footer li {
  list-style: none;
  padding: 0.5rem;
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.menu-footer li:hover {
  box-shadow: inset 0rem -0.7rem 0rem -0.6rem #000;
}
ul.menu-footer,
.list-footer {
  display: flex;
  margin: 0rem;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p.copyright {
  border-block: 0.03rem solid #cccccc;
  width: 100vw;
  padding-block: 1rem;
  text-align: center;
}
/* Back Top */
.back-top {
  width: 3rem;
  height: 3rem;
  margin: 0;
  position: fixed;
  inset-block-end: 1%;
  inset-inline-end: 3%;
  z-index: 10;
  opacity: 50%;
}
.back-top-btn,
.back-top-btn > img {
  text-decoration: none;
  width: 3rem;
}
.back-top:hover {
  opacity: 100%;
}
@media (min-width: 550px) {
  .menu > li > .menu-item {
    font-size: 1.2rem;
  }
}
@media (min-width: 800px) {
  .logo-menu {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo-box {
    margin-inline: 3.5rem 0rem;
    margin-block: 0.5rem 0rem;
  }
  .logo {
    width: 5rem;
  }
  .menu {
    gap: 2rem;
  }
  .menu-box {
    margin-inline: 0rem 3.5rem;
    margin-block: 0.5rem 0rem;
  }
  .menu > li > .menu-item {
    padding: 1.95rem 0;
    margin: 0;
    font-size: 1.3rem;
  }
  .sub-menu {
    width: 8rem;
    top: 5.75rem;
  }
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  div.list-footer p.copyright {
    margin-block: 0.5rem;
  }
  div.sm-logo-footer {
    align-self: center;
  }

  .logo-footer {
    width: 5rem;
  }
  div.footer-menu-item {
    width: 17rem;
    margin-block: 1rem;
    margin-inline: 0rem;
  }
}
@media (min-width: 1024px) {
  .footer-content {
    justify-content: space-evenly;
  }
}
